* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
$main-color: #4f8ff0;

body {
  width: 100vw;
  height: 100vh;
}
