.feedback__buttons {
  display: flex;
  gap: 48px;
}
.feedback__card {
  width: 648px;
  height: 244px;
  background-color: white;
}
.feedback__wrapp {
  display: flex;
  align-items: center;
  gap: 9px;
}
.feedback__client {
  width: 80px;
  height: 80px;
  background-color: white;
  background-size: cover;
}
