.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../src/images/background.jpg");
  filter: saturate(90%);
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}
.hero__title_blue {
  font-size: 56px;
  color: $main-color;
  line-height: 40px;
}
.hero__description {
  margin-top: 8px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.hero__link {
  background-color: $main-color;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border: none;
  color: #ffffff;
  margin-top: 64px;
  padding: 16px 24px 16px 24px;
  font-weight: 900;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.change__arrow {
  font-size: 30px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.change__span {
  color: #ffffff;
  font-size: 30px;
}
.hero__sticks {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 28px;
  height: 40px;
}
.hero__stick {
  display: block;
  background-color: #e6e6e6;
  height: 24px;
  width: 4px;
}
.hero__changes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // position: absolute;
  // bottom: 50px;
  // left: 10px;
}
.change__arrow:hover {
  transform: scale(1.5);
}
.hero__stick:hover {
  background-color: $main-color;
  transform: scale(1.5);
  height: 40px;
}
