.services {
  &__item {
    &:hover {
      background-color: $main-color;
      color: white;
    }
    &:hover .item__decoration {
      color: white;
    }
  }
}
.services__cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 31fr);
  grid-template-rows: repeat(2, 250px);
  margin: 48px;
}
.services__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__title {
  font-size: 28px;
  font-weight: 800;
  margin-top: 80px;
  position: relative;
}

.services__description {
  width: 920px;
  height: 38px;
  margin-top: 24px;
  text-align: center;
}
.services__description2 {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
.item__title {
  text-align: center;
  font-size: 20px;
}
.services__icon {
  margin: 0 auto;
  width: 29px;
  height: 29px;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 50px 32px 50px 32px;
}
.services {
  background-color: #f7f7f7;
}

.services__title::after {
  content: "";
  width: 50px;
  border: solid 2px $main-color;
  position: absolute;
  bottom: 0px;
  left: 67px;
  margin: -7px;
}
.item__link {
  height: 49px;
  width: 158px;
  background-color: $main-color;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border: none;
  color: #ffffff;
  padding: 16px 24px 16px 24px;
  display: block;
  margin: 0 auto;
  font-weight: 900;
}
.services__item:hover {
  background-image: url(../src/images/icons/Vector2.png);
  background-repeat: no-repeat;
  
}
