.staff {
  margin-top: 80px;
  background-color: #f7f7f7;
  &__title {
    font-size: 28px;
    font-weight: 800;
    position: relative;
    text-align: center;
  }
  &__title::after {
    content: "";
    width: 50px;
    border: solid 2px $main-color;
    position: absolute;
    bottom: 0px;
    left: 624px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
  }
  &__card {
    width: 312px;
    height: 414px;
    cursor: url(../src/images/cursors/blue_cursor.png) 2 2, default;
    transition: 0.3ms;
  }

  &__photo {
    width: 312px;
    height: 320px;
    background-size: cover;
    background-color: #f7f7f7;
  }
  &__name_title {
    font-weight: 700;
  }
  &__back {
    // width: 312px;
    // height: 414px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
  }
  // .staff__front:hover .staff__back {
  //   display: none;
  // }
  // .staff__back :hover .staff__font {
  //   display: block;
  // }

  &__track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
}
.hiddenpool {
  margin-top: 40px;
}

// .staff__title {
//   font-size: 28px;
//   font-weight: 800;
//   position: relative;
//   text-align: center;
// }
// .staff__title::after {
//   content: "";
//   width: 50px;
//   border: solid 2px $main-color;
//   position: absolute;
//   bottom: 0px;
//   left: 624px;
// }

// .staff__name {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
// }
// .staff {
//   margin-top: 80px;
//   background-color: #f7f7f7;
// }
// .staff__description {
//   font-weight: 400;
//   text-align: center;
//   margin-top: 24px;
// }
// .staff__card {
//   width: 312px;
//   height: 414px;
//   cursor: url(../src/images/cursors/blue_cursor.png) 2 2, default;
//   transition: 0.3ms;
// }

// .staff__photo {
//   width: 312px;
//   height: 320px;
//   background-size: cover;
//   background-color: #f7f7f7;
// }
// .staff__name_title {
//   font-weight: 700;
// }
// .staff__back {
//   // width: 312px;
//   // height: 414px;
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   display: none;
// }
// // .staff__front:hover .staff__back {
// //   display: none;
// // }
// // .staff__back :hover .staff__font {
// //   display: block;
// // }

// .staff__track {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 24px;
// }
// .hiddenpool {
//   margin-top: 40px;
// }
